.sidebar{
    height: 80vh;
    background-color: white;

}
.hover:hover{
    background-color: rgb(222, 243, 249);
}
.main{
    display: flex;
}
.blogs>h2{
    text-align: center;
    margin-top: 2%;
}
.row{
     text-align: center;
     display: flex;
     flex-direction: row;
     margin-top: 10px;
  
   
     
}
.posts{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-icon svg {
    fill: #333; 
}

.text-icon:hover svg {
    fill: #007bff;
}
